<mat-form-field class="ifs-form">
  <mat-label>Choose an IFS</mat-label>
  <mat-select [(value)]="selectedIfs">
    <mat-option *ngFor="let ifs of ifsList" [value]="ifs">
      {{ ifs.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<app-ifs-canvas [ifs]="selectedIfs"></app-ifs-canvas>
